{erl_opts, [debug_info, {parse_transform, lager_transform}]}.

{lib_dirs,["lib"]}.

{erl_opts, [{i, "include"}]}.

{deps_dir, ["lib"]}.

{deps, [
	{'lager', ".*", {git, "git://github.com/basho/lager.git", {branch, "master"}}},
	{'elog', ".*", {git, "git://github.com/erylee/elog.git", {branch, "master"}}}
]}.
