[{kernel,
	[{start_timer, true}, {start_pg2, true}]},
 {sasl,
	[{sasl_error_logger, {file, "var/log/etl1_sasl.log"}}]},
 {etl1,
    [
        {broker, [{host, "localhost"},
                {vhost, <<"/ponoss">>},
                {user, <<"ponoss">>},
                {password, <<"public">>}]},
        {ems, [
                 [{host, "111.113.42.246"}, {port, 9830}, {manu, zte},{cityid, 1001},{username, "root"},{password, "public"}, {max_conn, 20}]
               ]}
    ]}
].
